Django
djangorestframework
django-filter
djangorestframework-simplejwt
djangorestframework-extensions
django-cors-headers
drf-spectacular
django-storages
boto3
dj-database-url
whitenoise
psycopg2-binary
gunicorn
python-dotenv
sentry-sdk
django-redis
